/**
 * @name Discord Premium Theme
 * @description Shared CSS for all Discord Premium themes.
 * @author Discord
 * @version 0.0.1
 */

html {
    --bg-overlay-1: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-1)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-1))) fixed 0 0/cover, var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-2: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))) fixed 0 0/cover, var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-3: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3))) fixed 0 0/cover, var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-4: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-4)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-4))) fixed 0 0/cover, var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-5: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5))) fixed 0 0/cover, var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-6: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6)), rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6))) fixed 0 0/cover, var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-hover: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-hover-inverse)), rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-hover-inverse))) fixed 0 0/cover, linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-hover)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-hover))) fixed 0 0/cover, var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-active: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-active-inverse)), rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-active-inverse))) fixed 0 0/cover, linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-active)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-active))) fixed 0 0/cover, var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-selected: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-selected-inverse)), rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-selected-inverse))) fixed 0 0/cover, linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-selected)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-selected))) fixed 0 0/cover, var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-chat: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-chat)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-chat))) fixed 0 0/cover, var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-home: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-home)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-home))) fixed 0 0/cover, var(--custom-theme-background) fixed 0 0/cover;
    --bg-overlay-home-card: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-home-card)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-home-card))) fixed 0 0/cover, var(--custom-theme-background) fixed 0 0/cover;
}

.theme-dark {
    --bg-overlay-color: 0 0 0;
    --bg-overlay-color-inverse: 255 255 255;
    --bg-overlay-opacity-1: 0.85;
    --bg-overlay-opacity-2: 0.8;
    --bg-overlay-opacity-3: 0.7;
    --bg-overlay-opacity-4: 0.5;
    --bg-overlay-opacity-5: 0.4;
    --bg-overlay-opacity-6: 0.1;
    --bg-overlay-opacity-hover: 0.5;
    --bg-overlay-opacity-hover-inverse: 0.08;
    --bg-overlay-opacity-active: 0.45;
    --bg-overlay-opacity-active-inverse: 0.1;
    --bg-overlay-opacity-selected: 0.4;
    --bg-overlay-opacity-selected-inverse: 0.15;
    --bg-overlay-opacity-chat: 0.8;
    --bg-overlay-opacity-home: 0.85;
    --bg-overlay-opacity-home-card: 0.8;
}

.theme-dark .customTheme-3QAYZq.auto-2TJ1RH::-webkit-scrollbar-track {
    background-size: 200vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(var(--bg-overlay-color)/.4)), to(rgb(var(--bg-overlay-color)/.4))), var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color)/.4), rgb(var(--bg-overlay-color)/.4)), var(--custom-theme-background)
}

.theme-dark .customTheme-3QAYZq.auto-2TJ1RH::-webkit-scrollbar-thumb,
.theme-dark .customTheme-3QAYZq.thin-RnSY0a::-webkit-scrollbar-thumb {
    background-size: 200vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))), to(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)))), var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4)), rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-4))), var(--custom-theme-background)
}

.theme-light .customTheme-3QAYZq.auto-2TJ1RH::-webkit-scrollbar-track {
    background-size: 200vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))), to(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)))), var(--custom-theme-background);
    background-image: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))), var(--custom-theme-background)
}

.theme-light .customTheme-3QAYZq.auto-2TJ1RH::-webkit-scrollbar-thumb,
.theme-light .customTheme-3QAYZq.thin-RnSY0a::-webkit-scrollbar-thumb {
    background-size: 100vh;
    background-image: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6)), rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3))
}

.theme-dark .withBackgroundOverride-gzmZco {
    background: var(--bg-overlay-4,var(--background-tertiary))
}

.theme-dark .withBackgroundOverride-gzmZco.typeWindows-2-g3UY {
    margin-top: 0;
    padding-top: 4px
}

.theme-light .withBackgroundOverride-gzmZco {
    background: var(--bg-overlay-5,var(--background-tertiary))
}

.theme-light .withBackgroundOverride-gzmZco.typeWindows-2-g3UY {
    margin-top: 0;
    padding-top: 4px
}

.theme-dark .spoilerText-2G40u0 {
    background-color: hsl(var(--white-500-hsl)/.1)
}

.theme-dark .spoilerText-2G40u0.hidden-2lQZ5q {
    background-color: var(--primary-630)
}

.theme-dark .spoilerText-2G40u0.hidden-2lQZ5q:hover {
    background-color: hsl(var(--primary-630-hsl)/.8)
}

.theme-dark {
    --bg-overlay-color: 0 0 0;
    --bg-overlay-color-inverse: 255 255 255;
    --bg-overlay-opacity-1: 0.85;
    --bg-overlay-opacity-2: 0.8;
    --bg-overlay-opacity-3: 0.7;
    --bg-overlay-opacity-4: 0.5;
    --bg-overlay-opacity-5: 0.4;
    --bg-overlay-opacity-6: 0.1;
    --bg-overlay-opacity-hover: 0.5;
    --bg-overlay-opacity-hover-inverse: 0.08;
    --bg-overlay-opacity-active: 0.45;
    --bg-overlay-opacity-active-inverse: 0.1;
    --bg-overlay-opacity-selected: 0.4;
    --bg-overlay-opacity-selected-inverse: 0.15;
    --bg-overlay-opacity-chat: 0.8;
    --bg-overlay-opacity-home: 0.85;
    --bg-overlay-opacity-home-card: 0.8
}

.theme-light {
    --bg-overlay-color: 255 255 255;
    --bg-overlay-color-inverse: 0 0 0;
    --bg-overlay-opacity-1: 0.9;
    --bg-overlay-opacity-2: 0.8;
    --bg-overlay-opacity-3: 0.7;
    --bg-overlay-opacity-4: 0.6;
    --bg-overlay-opacity-5: 0.3;
    --bg-overlay-opacity-6: 0.15;
    --bg-overlay-opacity-hover: 0.7;
    --bg-overlay-opacity-hover-inverse: 0.02;
    --bg-overlay-opacity-active: 0.65;
    --bg-overlay-opacity-active-inverse: 0.03;
    --bg-overlay-opacity-selected: 0.6;
    --bg-overlay-opacity-selected-inverse: 0.04;
    --bg-overlay-opacity-chat: 0.9;
    --bg-overlay-opacity-home: 0.7;
    --bg-overlay-opacity-home-card: 0.9
}

.theme-dark .attachedBars-2BCP3l {
    background: var(--bg-overlay-1,var(--background-secondary));
    background: var(--bg-overlay-2,var(--background-secondary))
}

 .divider-2rZFJK {
    border-top: thin solid rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6))
}

.isUnread-3Lojb-, .isUnread-3Lojb- {
    border-color: var(--divider-color)
}

.theme-dark .replyBar-1oi75v,.theme-dark .threadSuggestionBar-3ExSyc {
    background: var(--bg-overlay-1,var(--background-secondary))
}

.theme-light .replyBar-1oi75v,.theme-light .threadSuggestionBar-3ExSyc {
    background: var(--bg-overlay-2,var(--background-secondary))
}

 .children-3xh0VB:after {
    content: unset
}

.theme-dark .preview-QJ3OG3 {
    background: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3))),to(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3)))),var(--custom-theme-background);
    background: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3))),var(--custom-theme-background)
}

.theme-light .preview-QJ3OG3 {
    background: -webkit-gradient(linear,left top,left bottom,from(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))),to(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)))),var(--custom-theme-background);
    background: linear-gradient(rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2)),rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-2))),var(--custom-theme-background)
}

.theme-light .reaction-3vwAF2 {
    border: 1px solid var(--background-modifier-accent)
}

 .form-3gdLxP:before {
    content: unset
}

.theme-light .modeMuted-2T4MDZ .icon-2W8DHg,.theme-light .modeMuted-2T4MDZ .name-28HaxV {
    color: var(--primary-330)
}

.theme-dark .wrapper-3kah-n:not(:hover):not(.selected-1Drb7Z) .childWrapper-1j_1ub {
    background: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6))
}

.theme-light .wrapper-3kah-n:not(:hover):not(.selected-1Drb7Z) .childWrapper-1j_1ub {
    background: rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3))
}

.theme-dark .circleIconButton-1VxDrg:not(.selected-2r1Hvo) {
    background: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6))
}

.theme-light .circleIconButton-1VxDrg:not(.selected-2r1Hvo) {
    background: rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-3))
}

.theme-dark .expandedFolderBackground-1kSAf6 {
    background: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6))
}

.theme-dark .folder-241Joy {
    background: var(--bg-overlay-6,var(--background-secondary))
}

.theme-light .expandedFolderBackground-1kSAf6 {
    background: rgb(var(--bg-overlay-color)/var(--bg-overlay-opacity-5))
}

.theme-light .folder-241Joy {
    background: var(--bg-overlay-3,var(--background-secondary))
}

.theme-dark .container-1zzFcN {
    background: var(--bg-overlay-1,var(--background-secondary-alt))
}

.theme-dark .button-1EGGcP.buttonColor-3bP3fX,.theme-dark .button-1EGGcP .buttonColor-3bP3fX {
    background: var(--bg-overlay-4,var(--background-primary))
}

.theme-dark .button-1EGGcP.buttonColor-3bP3fX:hover,.theme-dark .button-1EGGcP .buttonColor-3bP3fX:hover {
    background: var(--bg-overlay-5,var(--background-secondary))
}

.theme-dark .button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,.theme-dark .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background: var(--green-360);
    color: var(--white-500)
}

.theme-dark .button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover,.theme-dark .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background: var(--green-330)
}

.theme-light .container-1zzFcN {
    background: var(--bg-overlay-3,var(--background-secondary-alt))
}

.theme-light .button-1EGGcP.buttonColor-3bP3fX,.theme-light .button-1EGGcP .buttonColor-3bP3fX {
    background: var(--bg-overlay-1,var(--background-primary))
}

.theme-light .button-1EGGcP.buttonColor-3bP3fX:hover,.theme-light .button-1EGGcP .buttonColor-3bP3fX:hover {
    background: var(--bg-overlay-2,var(--background-secondary))
}

.theme-light .button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,.theme-light .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background: var(--green-360);
    color: var(--white-500)
}

.theme-light .button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover,.theme-light .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background: var(--green-330)
}

