/**
 * @name Forest
 * @author Discord
 * @version 0.0.1
 */

html {
    --bg-gradient-forest-1: hsl(var(--bg-gradient-forest-1-hsl)/1);
    --bg-gradient-forest-1-hsl: 124 calc(var(--saturation-factor, 1)*25.9%) 10.6%;
    --bg-gradient-forest-2: hsl(var(--bg-gradient-forest-2-hsl)/1);
    --bg-gradient-forest-2-hsl: 143 calc(var(--saturation-factor, 1)*26.2%) 23.9%;
    --bg-gradient-forest-3: hsl(var(--bg-gradient-forest-3-hsl)/1);
    --bg-gradient-forest-3-hsl: 76 calc(var(--saturation-factor, 1)*20.6%) 24.7%;
    --bg-gradient-forest-4: hsl(var(--bg-gradient-forest-4-hsl)/1);
    --bg-gradient-forest-4-hsl: 117 calc(var(--saturation-factor, 1)*17%) 41.6%;
    --bg-gradient-forest-5: hsl(var(--bg-gradient-forest-5-hsl)/1);
    --bg-gradient-forest-5-hsl: 43 calc(var(--saturation-factor, 1)*38.5%) 47.8%;

    --custom-theme-background: linear-gradient(162.27deg, var(--bg-gradient-forest-1) 11.2%, var(--bg-gradient-forest-2) 29.93%, var(--bg-gradient-forest-3) 48.64%, var(--bg-gradient-forest-4) 67.85%, var(--bg-gradient-forest-5) 83.54%);
}